@font-face {
    font-family: "DroidSerif";
    src: url("../fonts/DroidSerif-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Fredoca";
    src: url("../fonts/fredokaone-regular.woff2");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "CharisSILR";
    src: url("../fonts/CharisSILR.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Forum";
    src: url("../fonts/forum-regular.woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
      font-family: "Sourcesanspro";
      src: url("../fonts/sourcesanspro-regular.woff2");
      font-weight: 400;
      font-style: normal;
    }
    
  @font-face {
    font-family: "Raleway semiBold";
    src: url("../fonts/Raleway-SemiBold.ttf");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway light";
    src: url("../fonts/Raleway-Light.ttf");
    font-weight: 100;
    font-style: normal;
  }