$main-color: rgb(83, 11, 11);
$link-color: rgb(134, 128, 128);
$light-text: #ffffff;
$second-color: #708C00;
$background-color: #fefefe;
$text-color: #585858;
$accent-color: #6794b7;

$desktop: 1024px;
$tablet: 768px;